.App, h2, .id-card-info  {
  padding-left: 20px;
}

.id-card {
  display: flex;
  align-items: center;
}

.id-card, .greeting, .random-number, .box-color, .rating-container, .driver-container  {
  width: 70%;
  border: 1px solid #000;
  padding-left: 20px;
  margin-bottom: 20px;
}

.box-color {
  text-align: center;
}

.credit-cards, .driver-container  {
  display: flex;
}

.credit-cards {
  justify-content: space-between;
}

.credit-container {
  width: 30%;
  border: 1px solid #000;
  padding-left: 20px;
  margin-bottom: 20px;
}

.credit-logo {
  width: 40px;
  height: 20px;
}

.rating-container {
  border: none
}

.driver-pic {
  width: 150px;
  height: auto;
}

.driver-info {
  padding-left: 20px;
}